<section>
  {{#each data }}
  <div>
    <button class="del" type="submit"><a href="/delete/{{this._id}}">DELETE {{this.company}}</a></button>
    <h2>{{this.company}}</h2>
    <canvas id="{{company}}">
    </canvas>
  </div>
  {{/each}}
</section>